
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<table border="1">
    <tr>
        <TH colspan="8" width="240"> Student Information </TH>
    </tr>
    <TR>
        <TD width="135">Name:</TD>
        <TD><FONT face="arial" id="demoname"></FONT></TD>
    </TR>
    <TR>
        <TD width="135">Father Name:</TD>
        <TD><FONT face="arial" id="demofname"></FONT></TD>
    </TR>
    <TR>
        <TD width="135">Institute Name:</TD>
        <TD><FONT face="arial" id="demoins"></FONT></TD>
    </TR>
    <TD width="135">Batch:</TD>
    <TD><FONT face="arial" id="demobatch"></FONT></TD>
    </TR>
    <TR>
        <TH colspan="8" width="240"> Subjects Marks </TH>
    </TR>
    <TR>
        <TD width="135">Office Automation:</TD>
        <TD><FONT face="arial" id="demooffice"></FONT></TD>
    </TR>
    <TR>
        <TD width="135">Web Designing:</TD>
        <TD><FONT face="arial" id="demoweb"></FONT></TD>
    </TR>
    <TD width="135">IT:</TD>
    <TD><FONT face="arial" id="demoit"></FONT></TD>
    </TR>
    <TR>
        <TD width="135">C# Programing:</TD>
        <TD><FONT face="arial" id="democ"></FONT></TD>
    </TR>
    <TR>
        <TH colspan="8" width="240"> Marks Result </TH>
    </TR>
    <TR>
        <TD width="135">TOTAL:</TD>
        <TD> <FONT face="arial" id="demototal"></FONT></TT></TD>
    </TR>
    <TR>
        <TD width="135">Percentage:</TD>
        <TD><FONT face="arial" id="demoper"></FONT></TD>
    </TR>
    <TR>
        <TD width="135">Grade:</TD>
        <TD><FONT face="arial" id="demograde"></FONT></TD>
    </TR>
</table>
